.container {
  width: 100%;
  margin: auto;
}

.row {
  display: flex;
  flex-flow: row wrap;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: blue;

  &__photo {
    display: flex;
    flex-wrap: wrap;
    background: green;
    width: 100%;
    justify-content: flex-end;

    &__photo-info {
      display: flex;
      flex-wrap: wrap;
      background: red;


      &__photo-info-list {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        width: 50%;
      }
    }
  }
}
