.container {
  width: 100%;
  margin: auto;
}
.row {
  display: flex;
  flex-flow: row wrap;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: blue;

  &__photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    background: green;

    &__photo-info {
      display: flex;
      flex-wrap: wrap;
      width: 50%;
      background: red;

      &__photo-info-list {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
      }
    }
  }
}
