.top-nav {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background: #212121;

  :hover {
    color: $brand-red;
  }

  &__group {
    color: #585558;
  }

  &__brand {
    color: #f4f4f4;
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }
}
