.top-nav {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background: $brand-dark-gray;

  :hover {
    color: $brand-red;
  }

  &__group {
    color: $brand-light-gray;
  }

  &__brand {
    color: $brand-white;
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }
}
